body {
    font-family: 'Inter', sans-serif;
    transition: background-color 0.3s, color 0.3s;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    // Koyu Mod Stilleri
    &.dark-mode {
        background-color: $bg-dark;
        color: $text-light;

        .main-header {
            background-color: transparent;
        }

        .settings-modal .modal-content {
            background-color: $card-bg-dark;
            color: $text-light;
        }

        .settings-modal .modal-title {
            border-bottom-color: rgba(255, 255, 255, 0.1);
        }
    }

    // Açık Mod Stilleri
    &:not(.dark-mode) {
        background-color: $bg-light;
        color: $text-dark;

        .main-header {
            background-color: transparent;
        }

        .settings-modal .modal-content {
            background-color: $card-bg-light;
            color: $text-dark;
        }

        .settings-modal .modal-title {
            border-bottom-color: rgba(0, 0, 0, 0.1);
        }
    }
}

@media (max-width:1366px) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {
}

@include media-breakpoint-down(sm) {
    .backboxes {
        display: none !important;
    }
}

@include media-breakpoint-down(def) {}