
.hello {
    display: flex;
    justify-content: center;
    align-items: center;
    &_content {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Poppins, sans-serif;
        gap: 30px;

        &_text {
            font-size: 3rem;
            font-weight: 600;
            display: flex;
            flex-direction: column;

            &_2 {
                font-size: 2rem;
                font-weight: 400;
                margin-top: 1rem;
                filter: blur(1px);
            }

            &_3 {
                word-spacing: 5px;
                max-width: 30rem;
                font-size: 1.5rem;
                margin-top: 1rem;
                font-weight: 300;
            }

            &_buttons {
                margin-top: 2rem;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                gap: 1rem;
                font-size: 2rem;

                &_eposta,
                &_cv {
                    background-color: transparent;
                    border: 1px solid $accent-color;
                    text-decoration: none;
                    padding: 0.75rem 1.5rem;
                    font-weight: 200;
                    color: white;
                    position: relative;
                    &::before {
                        content: "";
                        display: block;
                        width: 0px;
                        height: 100%;
                        background-color: var(--cv-bg , $accent-color);
                        transition: 0.5s ease-in;
                        z-index: -1;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    &:hover{
                        &::before {
                            width: 100% !important;
                        }
                    }
                }
            }
        }

        &_img {
            width: 30rem;
            height: 30rem;
            overflow: hidden;
        }

        .blob-profile-container {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        .blob-profile-container svg {
            width: 100%;
            height: 100%;
        }
    }
}
.about{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    &_header{
        width: 100%;
        text-align: center;
        font-family: Poppins , sans-serif;
        font-size: 3rem;
        font-weight: 600;
    }
    &_content{
        display: flex;
        gap: 2rem;
        margin-top: 2rem;
        width: 100%;
        &_text{
            text-wrap: wrap;
            font-size: 2rem;
            font-weight: 500;
            width:50%;
            word-spacing: 5px;
        }
        &_ex{
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
                align-items: center;
            grid-area: 3;
            gap: 1rem;
            &_box{
                width: 10rem;
                height: 10rem;
                border: 1px solid $accent-color;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 2rem;
                font-weight: 600;
            }
        }
    }
}
@media (max-width:1366px) {}

@include media-breakpoint-down(lg) {
    .hello {
        &_content {
            gap: 20px;

            &_text {
                font-size: 2.5rem;
            }

            .hello_content_img {
                width: 25rem;
                height: 25rem;
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .hello {
        &_content {
            flex-wrap: wrap;
            gap: 10px;
            &_text {
                font-size: 2rem;

                &_buttons {
                    justify-content: center !important;

                    &_eposta,
                    &_cv {
                        cursor: pointer;
                        text-decoration: none;
                        padding: -0.25rem 0.5rem;
                        border-radius: 5px;
                    }
                }
            }

            .hello_content_img {
                width: 20rem;
                height: 20rem;
            }
        }
    }
    .about{
        height: auto !important;
        &_content{
            flex-direction: column;
            &_text{
                width: 100% !important;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .container{
        padding: 20px;
    }
    .hello {
        &_content {
            justify-content: center !important;

            &_text {
                font-size: 2rem;
            }

            &_text_2 {
                font-size: 1.5rem;
            }

            &_text_3 {
                font-size: 1rem;
            }

            .hello_content_img {
                width: 25rem;
                height: 25rem;
            }
        }
    }
    .about{
        &_header{
            font-size: 2rem;
        }
        &_content{
            &_text{
                font-size: 1rem;
            }
        }
    }
}

@include media-breakpoint-down(def) {}