.hello {
    padding-top: 105px;
    height: 100vh;

    &_content {
        &_text {
            &_1 {
                font-size: 5rem;
            }

            &_2 {
                font-size: 3rem;
                filter: blur(2px);
            }

            &_3 {
                font-size: 2rem;
            }

            &_buttons {
                margin-top: 2rem;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                gap: 1rem;
                font-size: 2rem;

                &_eposta,
                &_cv {
                    background-color: transparent;
                    border: 1px solid $accent-color;
                    text-decoration: none;
                    padding: 0.75rem 1.5rem;
                    font-weight: 200;
                    color: white;
                    position: relative;

                    &::before {
                        content: "";
                        display: block;
                        width: 0px;
                        height: 100%;
                        background-color: var(--cv-bg, $accent-color);
                        transition: 0.5s ease-in;
                        z-index: -1;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }

                    &:hover {
                        &::before {
                            width: 100% !important;
                        }
                    }
                }
            }
        }
    }
}

.about {
    padding-top: 105px;
    height: 100vh;

    &_header {
        font-size: 5rem;
    }

    &_content {
        padding-top: 3rem;

        &_text {
            text-wrap: wrap;
            font-size: 2rem;
        }

        &_container{
            &_header {
                text-align: center;
                font-size: 3rem;
            }

            &_box {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                gap: 10px;
                margin: 20px;
                i{
                    font-size: 3rem;
                }
                width: 150px;
                height: 150px;
                border: 2px solid $accent-color;
                transition: 1s all;
                font-weight: 800;
                &:hover{
                    background-color: $accent-color;
                }
            }
        }
    }
}

@media (max-width:1366px) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {
    .about {
        &_content{
            &_container {
                &_header {
                    padding: 2rem;
                }
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .hello {
        &_content {
            &_text {
                &_1 {
                    font-size: 3rem;
                }

                &_2 {
                    font-size: 2rem;
                    filter: blur(2px);
                }

                &_3 {
                    font-size: 1.5rem;
                }
            }
        }
    }

    .about {
        &_header {
            font-size: 3rem;
        }

        &_content {
            padding-top: 1.5rem;

            &_text {
                font-size: 1.5rem;
            }

            &_container {
                &_header {
                    padding: 1.5rem;
                    font-size: 3rem;
                }
            }
        }
    }
}

@include media-breakpoint-down(def) {}