body {
    font-family: 'Inter', sans-serif;
    transition: background-color 0.3s, color 0.3s;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    // Koyu Mod Stilleri
    &.dark-mode {
        background-color: $bg-dark;
        color: $text-light;

        .main-header {
            background-color: transparent;
        }

        .settings-modal .modal-content {
            background-color: $card-bg-dark;
            color: $text-light;
        }

        .settings-modal .modal-title {
            border-bottom-color: rgba(255, 255, 255, 0.1);
        }
    }

    // Açık Mod Stilleri
    &:not(.dark-mode) {
        background-color: $bg-light;
        color: $text-dark;

        .main-header {
            background-color: transparent;
        }

        .settings-modal .modal-content {
            background-color: $card-bg-light;
            color: $text-dark;
        }

        .settings-modal .modal-title {
            border-bottom-color: rgba(0, 0, 0, 0.1);
        }
    }
}
.hero-section {
    padding: 10rem 1.5rem 5rem;
    font-size: 1.5rem;
    font-weight: 700;
    opacity: 0.7;
    display: flex;
    justify-content: space-between;
    // Fotoğrafın olduğu yerdeki halka stilini simüle edelim
    .hero-avatar {
        width: 200px;
        height: 200px;
        margin: 2rem auto;
        border-radius: 50%;
        background-color: var(--accent-color);
        box-shadow: 0 0 0 12px var(--accent-color);
    }
}
@media (max-width:1366px) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {
}

@include media-breakpoint-down(sm) {
}

@include media-breakpoint-down(def) {}